<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4">

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">

                <!-- Раздел Техника -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="techDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Техника
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="techDropdown">
                        <li><a class="dropdown-item" href="{% url 'vehicle:vehicletype_create' %}">Создать тип</a></li>
                        <li><a class="dropdown-item" href="{% url 'vehicle:vehicletype_list' %}">Список типов</a></li>
                        <li><a class="dropdown-item" href="{% url 'vehicle:vehicle_create' %}">Создать технику</a></li>
                        <li><a class="dropdown-item" href="{% url 'vehicle:vehicle_list' %}">Список техники</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ms-4">
                    <a class="nav-link dropdown-toggle" href="#" id="partsDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Запчасти
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="partsDropdown">
                        <li><a class="dropdown-item" href="#">Создать тип</a></li>
                        <li><a class="dropdown-item" href="#">Список типов</a></li>
                        <li><a class="dropdown-item" href="#">Создать запчасть</a></li>
                        <li><a class="dropdown-item" href="#">Список запчастей</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ms-4">
                    <a class="nav-link dropdown-toggle" href="#" id="attrDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Атрибуты
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="attrDropdown">
                        <li><a class="dropdown-item" href="#">Создать атрибут</a></li>
                        <li><a class="dropdown-item" href="#">Список атрибутов</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
