{% extends 'base.html' %}

{% block title %}Создание атрибута{% endblock %}

{% block content %}
<h2 class="mb-4">Создание атрибута</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label for="regNum" class="form-label">Название</label>
        <input type="text" class="form-control" id="regNum" name="reg_number" placeholder="Например, Диаметр">
    </div>
    <div class="mb-3">
        <label for="unit" class="form-label">Едиица измерения</label>
        <input type="text" class="form-control" id="unit" name="reg_number" placeholder="мм, кг">
    </div>
    <div class="mb-3">
    <label for="data_type" class="form-label">Тип данных</label>
    <select class="form-select" id="data_type" name="status">
      <option value="string" selected>string</option>
      <option value="decimal">decimal</option>
      <option value="float">float</option>
    </select>
  </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}
